body {
    font-family: 'Fira Sans', sans-serif;
    overflow-x: hidden;
    font-size: 18px;
}
a, button {
    transition: all .2s linear;
}
a:focus {
    text-decoration: none;
}
a:hover {
    color: #ec1f24;
    text-decoration: none;
}
.navbar-default {
    background-color: transparent;
    border: none;
    margin-bottom: 0;
}
.navbar-collapse {
    padding: 0;
    margin: 10px 0;
}
.navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 16px;
}
.navbar-default .navbar-nav > li > a {
    color: #333;
}
.navbar-nav > li:hover a::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: #ec1f24;
    position: absolute;
    bottom: 0;
    left: 0;
}
.owl-prev {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 5.3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.owl-next {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 5.3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.chevron-background {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 55px;
    color: #ec1f24;
}
.header-page-top {
    border-bottom: 1px solid #e9e9e9;
}
.header-flex-top {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
    font-size: 16px;
}
.logo-block {
    font-size: 24px;
}
.logo-block a {
    color: #333;
}
.logo-block span, .header-block-item i {
    color: #ec1f24;
}
.header-block-item i {
    font-size: 20px;
    margin-right: 6px;
}
.header-block-item a {
    display: block;
    color: #333;
    font-size: 18px;
}
.header-block-item a:hover {
    color: #ec1f24;
}
.header-send-block button, .button-center a {
    padding: 10px 20px;
    border: 2px solid #ec1f24;
    background-color: #ec1f24;
    color: #fff;
    border-radius: 4px;
}
.header-send-block button:hover, .button-center a:hover {
    color: #ec1f24;
    background-color: #fff;
}
.main-title-page {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
}
.owl-feedback-form input, .owl-feedback-form textarea {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 5px 10px;
    border: 1px solid #2c2c2c;
}
.owl-feedback-form textarea {
    margin-bottom: 20px;
}
.button-center {
    text-align: center;
    margin: 15px 0;
}
button.close {
    position: relative;
    top: 4px;
    right: 10px;
    font-size: 30px;
    z-index: 1;
}
.about-content-text {
    font-size: 16px;
    margin-bottom: 40px;
}
.service-block-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.service-block-item-img img {
    width: 100%;
}
.service-block-item-title {
    text-align: center;
    font-weight: bold;
}
.service-block-item {
    width: 19%;
}
.service-block-item-img {
    padding: 40px;
    border: 5px solid #ec1f24;
    border-radius: 50%;
    margin-bottom: 20px;
}
.galery-flex-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px 0;
}
.galery-item {
    width: 19.5%;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    margin-bottom: 8px;
}
.galery-item img {
    width: 100%;
}
.iconblock-7 {
    margin: 20px 0;
    border: 1px solid #e9e9e9;
    width:100%;
    padding: 12px;
    display: table;
}
.iconblock-7 .icon {
    display: table-cell;
    vertical-align: top;
    width: 60px;
    padding: 12px 12px 0 0;
    text-align:center;
}
.iconblock-7 .icon i {
    font-size:32px;
    color: #ee8385;
    transition: all .4s;
    width: 32px;
    height: 32px;
}
.iconblock-7:hover .icon i{
    font-size:48px;
    color: #ec1f24;
    transform: rotate(-360deg);
    width: 48px;
    height: 48px;
    opacity: 1;
}
.iconblock-7 h3 {
    transition: all 0.7s ease 0s;
    font-size:22px;
    margin:10px 0;
}
.iconblock-7:hover h3 {
    color: #000;
}
.iconblock-7 span {
    color: #ec1f24;
}
#button-up {
    display: none;
    right: 0;
    margin: 0;
    position: fixed;
    bottom: 67px;
    outline: none;
    width: 67px;
    color: #333333;
    line-height: 30px;
    text-decoration: none;
    padding: 0px 0 0 28px;
    background: url("../images/scrolltop.png") no-repeat 7px 11px transparent;
    border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    -o-border-radius: 0 4px 4px 0;
    cursor: pointer;
    z-index: 9;
}
#button-up span {
    display: block;
    width: 56px;
    height: 66px;
}
.full-image-block img {
    width: 100%;
    margin: 30px 0;
}
.footer-flex-block {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}
.footer-flex-block a {
    color: #fff;
    display: block;
    margin-bottom: 10px;
}
.footer-flex-block a:hover {
    text-decoration: underline;
}
.footer-page {
    background-color: #ee8385;
    padding: 40px 0;
    margin-top: 50px;
}
.footer-address-item i {
    margin-right: 5px;
}
.footer-address .social-block {
    display: flex;
}
.footer-address .social-block a {
    margin-right: 8px;
    font-size: 22px;
}
.big-center-text {
    font-size: 22px;
    text-align: center;
    margin-bottom: 40px;
}
.contact-tel-block a {
    display: block;
    margin-bottom: 15px;
    color: #333;
}
.contact-tel-block i {
    color: #ec1f24;
}
.contact-tel-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
@media(max-width: 991px) {
    .header-flex-top {
        flex-wrap: wrap;
    }
    .header-send-block {
        width: 100%;
        text-align: center;
        margin-top: 15px;
    }
}
@media(max-width: 767px) {
    .navbar-toggle.active .icon-bar:nth-of-type(1) {
        top: 14px;
        transform: rotate(45deg);
    }
    .navbar-toggle.active .icon-bar:nth-of-type(2) {
        background: transparent;
    }
    .navbar-toggle.active .icon-bar:nth-of-type(3) {
        top: -6px;
        transform: rotate(-45deg);
    }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: transparent;
    }
    .navbar-default .navbar-toggle {
        border: none;
        margin-left: 10px;
        padding: 10px 0;
    }
    .navbar-toggle .icon-bar {
        width: 50px;
        height: 6px;
    }
    .navbar-default .navbar-toggle .icon-bar {
        position: relative;
    }
    .logo-block {
        margin-bottom: 15px;
    }
    .header-block-item {
        margin: 0 15px 15px 0;
    }
    .header-block-item a {
        margin-bottom: 15px;
    }
    .service-block-flex {
        flex-wrap: wrap;
    }
    .service-block-item {
        width: 30%;
        margin-bottom: 20px;
    }
    .navbar-nav {
        display: block;
    }
    .galery-item {
        width: 49.5%;
    }
    .footer-flex-block {
        flex-wrap: wrap;
    }
    .contact-tel-block {
        flex-direction: column;
        align-items: center;
    }
}
@media(max-width: 500px) {
    .service-block-item {
        width: 48%;
    }
    .footer-logo {
        width: 100%;
        margin-bottom: 20px;
    }
    .footer-links {
        margin-right: 15px;
    }
}